.rightPaneBox{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

.rightPaneContainer{
    padding: 20px 20px 0 0 ;
}

.adContainer{
    margin-top: 10px;
}

.sponsered{
    font-size: 20px;
    font-weight: bold;
    margin-left: 2px;
    margin-bottom: 5px;
}

.adImage{
    height: 230px;
    width: 400x;
    margin-left: 30px;
}
.adtext{
    margin-left: 30px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.birthdayContainer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}

.birthdayImage{
    height: 50px;
    width:  50;
}
.birthddayText{
    margin-left: 10px;
    font-size: 18px;
}

.friendList{
    margin-top: 20px;
}

.onlineFriends{
    padding: 0;
    margin: 0;
    list-style: none;
    display:flex;
    align-items: center;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.52); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.52);
    border-radius: 10px;
    margin-bottom: 10px;
}

.onlineFriendImg{
    width: 40px;
    height: 40px;
}

.onlineFriendsImageContainer{
    display: flex;
    position: relative;
}

.onlineStatus{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 20px;
    right: 0;
    border: 2px solid white;

}

.onlineFriendName{
    margin-left: 20px;
}